header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
        .logo{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.25rem;
        }
        input[type=checkbox] {
            display: none;
          }
          .main-nav ul{
            display: flex;
            list-style: none;
            gap: 50px;
        }
    }
} 

@media (max-width: 768px){

    header .container {
        align-items: center;
    }

    header .container .main-nav{
        display: none;
    }


#overlay-button {
    z-index: 12;
    cursor: pointer;
    user-select: none;
    span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #000;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
        &:before {
          top: -10px;
          visibility: visible;
        }
        &:after {
          top: 10px;
        }
        &:before, &:after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: #000;
            position: absolute;
            content: "";
            transition: all .2s ease-in-out;
        }
      }
      &:hover span, &:hover span:before, &:hover span:after {
        background: #333332;
      }
  }
  
  input[type=checkbox]:checked ~ .main-nav {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
  }

  input[type=checkbox]:checked ~ .main-nav ul  {
    display: block;
  }

  input[type=checkbox]:checked ~ .main-nav ul li {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  input[type=checkbox]:checked ~ .main-nav ul li a {
    font-size: 2rem;
  }
  
  input[type=checkbox]:checked ~ #overlay-button {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
  
}




