.product-listing{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 1.5rem;
    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.product-listing{
    .product{
        margin-bottom: 2rem;
        position: relative;
        &.featured{
            grid-column: 1/ -1;
        }
        .product-image{
            display: block;
            margin-bottom: 1rem;
            overflow: hidden;
            img{
                transition: all 1s;
            }
            &:hover{
                img{
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            }
        }
        .infos{
            display: flex;
            justify-content: space-between;
            .title{
                color: #323A45;
                font-size: 1rem;
                font-weight: normal;
                margin-bottom: .25rem;;
            }
            .brand{
                color: #848484;
                font-size: .9rem;
            }
        }
     
    }
}
